[submodule "spinnaker_sdk_camera_driver"]
	path = spinnaker_sdk_camera_driver
	url = https://github.com/neufieldrobotics/spinnaker_sdk_camera_driver.git
	branch = feature/ubuntu-20.4
[submodule "imu_vn_100_driver"]
	path = imu_vn_100_driver
	url = https://gitlab.com/neufieldrobotics/imu_vn_100_driver.git
[submodule "trigger_msgs"]
	path = trigger_msgs
	url = https://github.com/jpsnir/trigger_msgs.git
